.ui.vertical.menu {
  position: fixed;
  margin-top: -20px;
  height: 100%;
  width: 10%;
}

.ui.inverted.segment{
  margin-top: 0;
  display: grid;
  width: 100%;
  position: sticky;
}

.ui.container {
  padding-left: 50px;
}

.dataContainer {
  float: right;
}
button.ui.button.login {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  bottom: 15%;
}